/* navbar */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

  }
  
  
.sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index:3;
      top: 0;
      right: 0;
      background-color: #6c0202;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
}
  
.sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 20px;
      color: white;
      display: block;
      transition: 0.3s;
}
  
.sidenav a:hover {
      color: #e4bf2d;
}
  
.sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
}
  
 .nav {
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      background: #540202;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      z-index: 2;
 }
  
.logo {
      color: white;
      font-size: 24px;
      text-decoration: none;
      font-family:'Audiowide';
}
  
.nav span:hover {
      color: #ccc;
}
  
.search-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: auto;
      margin-left: auto;
  
      border-radius: 5px;
      margin-right: 10px;
 }
  
.search {
      border: 0;
 }
  
.area {
      border: none;
      box-shadow: none;
      border-color: none;
      outline: none;
 }

/* navbar end */




/* body */

.bgimg {
    margin-top: 60px;
    width: 100%;
    display: block;

}
.categorytext {
    font-family: sans-serif;
    margin-top: 1%;
    margin-left: 2%;
    font-size: 27px;
    color: #540202;

}

.event-card {
    height: 100%;
    width: 100%;   
    overflow: hidden;
    margin: 10px;

}

.event-card img {
  width: 100%;
  height: 100%;
  align-items: center;

}

.event-card-body {
    text-align: center;
}

.card-title {
    text-decoration: none;
    color: black;
    font-size: 20px;
}


.loop-img {
    width: 100%;
    height: 220px;
    align-items: center;
}

.eventcard {

    width: 100%;
    overflow: hidden;
    margin: 10px;
}

.eventcard img {
  width: 100%;
  height: 100%;
  align-items: center;
}

.eventcard-body {
    text-align: left;
}

.eventtype{
color:red;
font-size:20px;
}

.eventtitle{
font-size:28px;
font-weight:500;
}

.venue{
font-size:21px;
}

.cardtitle {
    text-decoration: none;
    color: black;
    font-size: 20px;
}



.book{
    background-color: rgb(246, 246, 246);
}


.bookbutton {
background-color: #730000d7;
color: #fff;
border: none;
padding: 6px 16px;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease;
}


.bookbutton:hover {
background-color: #f969359a;
}

/* end body */




/* footer */
  
.footer{
    background-color: #540202;

  }
  .footer-heading{
    color: white;
  }
.footer a {
    text-decoration: none;
    color: whitesmoke;
  }
  .list-unstyled li {
    margin-bottom: 7px;
}
/* end footer  */



