<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Event Feedback</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > input {
  display: none;
}
.rating > label:before {
  content: "\2605";
  font-size: 36px; 
  color: #ccc;
}
.rating > input:checked ~ label:before,
.rating > label:hover ~ label:before,
.rating > label:hover:before {
  color: #ffcc00;
}
</style>
</head>
<body>

<div class="container">
<h2 class="mt-5 mb-5" style="color: rgb(102, 5, 5);">Event Feedback</h2>

<p style="color:rgb(159, 6, 6); font-weight: 600; font-size: 27px;">{{booking.event_id.event_title}}</p>
<p style="font-size: 20px;">{{booking.event_id.event_start_date}}{% if booking.event_id.event_end_date %} - {{ booking.event_id.event_end_date }}{% endif %}
     | {{booking.event_id.venue}}
</p>
<form method="POST">
    {% csrf_token %}
  <div class="form-group">
    <label for="rating">Rating:</label>
    <div class="rating">
      <input type="radio" id="star5" name="rating" value="5">
      <label for="star5"></label>
      <input type="radio" id="star4" name="rating" value="4">
      <label for="star4"></label>
      <input type="radio" id="star3" name="rating" value="3">
      <label for="star3"></label>
      <input type="radio" id="star2" name="rating" value="2">
      <label for="star2"></label>
      <input type="radio" id="star1" name="rating" value="1">
      <label for="star1"></label>
    </div>
  </div>
  <div class="form-group">
    <label for="comments">Comments:</label>
    <textarea class="form-control" id="comments" rows="5" name="feedback" placeholder="Enter your comments"></textarea>
  </div>
  <button type="submit" class="btn btn-outline-danger">Submit Feedback</button>
</form>
</div>

<!-- Bootstrap JS and dependencies (jQuery, Popper.js) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
